{% extends 'finance_dashboard.html'%}

{%block nav2%}active {%endblock%}

{% block main %}


<!-- **********************************************************************************************************************************************************
    MAIN CONTENT
    *********************************************************************************************************************************************************** -->
<!--main content start-->
<section id="main-content">
  <section class="wrapper">
<h3> Bank Guarantee Issued </h3>
    <!-- BASIC FORM ELELEMNTS -->
    <div class="row mt">
      <div class="col-lg-12">
        <div class="form-panel">
          
          <div class="container"
            style="width: 60%; padding: 50px; box-shadow: 5px 5px 5px 5px black; background-color:rgba(239,239,239,0.9);border-radius:25px; ">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">id</th>
                  <th scope="col">Bank Guarantee Name</th>
                  <th scope="col">amount</th>
                  <th scope="col">status of Approve</th>
                  <th scope="col">Issue</th>

                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>Otto</td>
                  <td><button>Issue</button></td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>Otto</td>
                  <td><button>Issue</button></td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Larry</td>
                  <td>the Bird</td>
                  <td>Otto</td>
                  <td><button>Issue</button></td>
                </tr>
              </tbody>
            </table>
            <br><br><br><br><br><br>
          </div>
        </div>
      </div>


      <!-- col-lg-12-->
    </div>
    <!-- /row -->
  </section>

</section>
<!-- /wrapper -->
<!-- /MAIN CONTENT -->
<!--main content end-->

<br><br><br><br><br><br><br/>





{% endblock%}