{% extends 'purchase_dashboard.html'%}

{%block nav2%}active {%endblock%}

{% block main %}


<!-- **********************************************************************************************************************************************************
    MAIN CONTENT
    *********************************************************************************************************************************************************** -->
<!--main content start-->
<section id="main-content" xmlns="http://www.w3.org/1999/html">
    <section class="wrapper">
        <h3> Purchase Order </h3>
        <!-- BASIC FORM ELELEMNTS -->
        <div class="row mt">
            <div class="col-lg-12">
                <div class="form-panel">
                    <h4 class="mb">Purchase Order </h4>
                    <form class="form-horizontal style-form" method="POST"  enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">

                            <label class="col-sm-2 col-sm-2 control-label"> Vendor</label>
                            <div class="col-sm-10">
                                {{bookform.vendor}}
                            </div>
                        </div>
                        <div class="form-group">

                            <label class="col-sm-2 col-sm-2 control-label"> Invoice For</label>
                            <div class="col-sm-10">

                                {{bookform.invoice_for}}

                            </div>
                        </div>
                        <!--                        <div class="form-group">-->
                        <!--                            <label class="col-sm-2 col-sm-2 control-label">Vendor  </label>-->
                        <!--                            <div class="col-sm-10">-->

                        <!--                                <select class="form-control round-form">-->

                        <!--                                    <option>1</option>-->
                        <!--                                    <option>2</option>-->
                        <!--                                    <option>3</option>-->
                        <!--                                    <option>4</option>-->
                        <!--                                    <option>5</option>-->
                        <!--                                </select>-->
                        <!--                            </div>-->
                        <!--                        </div>-->
                        <div class="form-group">

                            <label class="col-sm-2 col-sm-2 control-label"> Cost Center/ Project Number</label>
                            <div class="col-sm-10">

<!--                                <select class="form-control round-form" name="project" id="id_project">-->
<!--                                    {% for i  in item %}-->
<!--                                    <option value="{{i.project_no}}">{{i.project_no}}</option>-->
<!--                                    {% endfor %}-->
<!--                                </select>-->
                                                                {{bookform.project}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 col-sm-2 control-label">RML Number </label>
                            <div class="col-sm-10">

<!--                                <select class="form-control round-form" name="rml" id="id_rml">-->
<!--                                    {% for i  in item %}-->
<!--                                    <option value="{{i.rml_no}}">{{i.rml_no}}</option>-->
<!--                                    {% endfor %}-->
<!--                                </select>-->

                                                                {{bookform.rml}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 col-sm-2 control-label">Purchase Order Date</label>
                            <div class="col-sm-10">
                                {{bookform.po_date}}
                            </div>
                        </div>
                        <table class="table" >
                            <thead>
                            <tr>
                                <!--                                <th style="width:60px" class="text-center"> SNo.</th>-->
                                <th style="width:60px" class="text-center">Particulars</th>
                                <th style="width:60px" class="text-center">Taxable Value</th>
                                <th style="width:60px" class="text-center">GST Rate</th>
                                <th style="width:60px" class="text-center">CGST</th>
                                <TH style="width:60px" class="text-center">SGST</TH>
                                <TH style="width:60px" class="text-center">IGST</TH>
                                <TH style="width:60px" class="text-center">Total</TH>
                                <TH style="width:60px" class="text-center">Action</TH>
                            </tr>
                            </thead>
                            <tbody>
                            {{ formset.management_form }}
                            {% for form in formset %}
                            <tr class="form-row spacer" id="mytable">
                                <td>
                                    <div class="form-group">
                                        <div class="col-sm-10">

                                            {{form.particular}}

                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <div class="col-sm-10">
                                            {{form.tax_value}}
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <div class="col-sm-10">
                                            {{form.gst}}
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <div class="col-sm-10">
                                            {{form.cgst}}
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <div class="col-sm-10">
                                            {{form.sgst}}
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <div class="col-sm-10">
                                            {{form.igst}}
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <div class="col-sm-10">
                                            {{form.total}}
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group-append">
                                        <button class="btn btn-success add-form-row" onclick="addField(this);">+</button>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                            <tr>
                                <td>
                                    <div class="form-group">
                                        <label class="col-sm-2 col-sm-2 control-label">Total</label>

                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <div class="col-sm-10">
                                            {{bookform.sub_total}}
                                        </div>
                                    </div>

                                </td>
                                <td>
                                    <div class="form-group">
                                        <div class="col-sm-10">
                                            {{bookform.total_gst}}
                                        </div>
                                    </div>

                                </td>
                                <td>
                                    <div class="form-group">
                                        <div class="col-sm-10">
                                            {{bookform.total_cgst}}
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <div class="col-sm-10">
                                            {{bookform.total_sgst}}
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <div class="col-sm-10">
                                            {{bookform.total_igst}}
                                        </div>
                                    </div>
                                </td>


                            </tr>
                            </tbody>

                        </table>
                        <div align="center" >
                            <button class="btn btn-warning" type="button" onclick="getADD();">Calculate</button>
                        </div>
                        <br>

                        <div class="form-group">
                            <label class="col-sm-2 col-sm-2 control-label">Purchase Order Amount</label>
                            <div class="col-sm-10">
                                {{bookform.amount}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 col-sm-2 control-label">Attachments  </label>
                            <div class="col-sm-10">
                                {{bookform.attachment}}
                            </div>
                        </div>
                        <!--                        <div class="form-group">-->
                        <!--                            <div class="col-sm-10">-->
                        <!--                                <button class="btn btn-primary" type="submit">Submit</button>-->
                        <!--                            </div>-->
                        <!--                        </div>-->
                        <br>

                        <div class="row spacer">
                            <div class="col-sm-2 col-sm-2 control-label">
                                <button class="btn btn-primary" type="submit">Submit</button>
                            </div>
                        </div>
                    </form>
                    <!--                                <button class="btn btn-primary"  onclick="getbud()">budget</button>-->

                    <!--                                <p id="demo" name="dem"></p>-->



                    <!--                        {#                        <button type="button" id="bttnMinus" onclick="js_fn('{{py_fn({{'some_string'}})}}')">click</button>#}-->
                    <!--                        {#                    <script>#}-->
                    <!--                        {#                        function js_fn(variable){#}-->
                    <!--                        {#                            alert(variable);#}-->
                    <!--                        {#                        }#}-->
                    <!--                        {#                    </script>#}-->


                    <!--                        <p id="femo"></p>-->



                    <!--                        {#<a href="{% url 'myviewupdate' %}">#}-->
                    <!--                        {#                        <button  id="bttnMinus" onclick="pifun();">click</button>#}-->
                    <!--                        {#</a>#}-->
                    <!--                        {#                        <script>#}-->
                    <!--                        {#                            function pifun(){#}-->
                    <!--                        {#                                var URL="{% url 'myviewupdate' %}"#}-->
                    <!--                        {#                                var p=Number(document.getElementById("id_form-TOTAL_FORMS").value);#}-->
                    <!--                        {#                                document.getElementById('xemo').innerHTML=p;#}-->
                    <!--                        {#                                var data ={'count':p};#}-->
                    <!--                        {#                                $.get(URL,data);#}-->
                    <!--                        {#                            }#}-->
                    <!--                        {#                        </script>#}-->

                    <script>

                            function getADD(){
                                var p=document.getElementById("id_form-TOTAL_FORMS").value;
                                var c=0;
                                var g=0;
                                var s=0;
                                var t=0;
                                var tot=0;
                                for(var i=0;i<p;i++) {

                                    var c1 = Number(document.getElementById("id_form-"+i+"-cgst").value);
                                    var s1 = Number(document.getElementById("id_form-"+i+"-sgst").value);
                                    var t1 = Number(document.getElementById("id_form-"+i+"-tax_value").value);
                                    var g1 = Number(document.getElementById("id_form-"+i+"-igst").value);
                                    tot= c1+s1+t1+g1;
                                    document.getElementById("id_form-"+i+"-total").value = tot;

                                    c += c1;
                                    s += s1;
                                    t += t1;
                                    g += g1;
                                }

                                document.getElementById("id_total_igst").value = g;
                                document.getElementById("id_sub_total").value= t;
                                document.getElementById("id_total_cgst").value=c;
                                document.getElementById("id_total_sgst").value=s;
                                document.getElementById("id_amount").value=s+g+t+c;

                            }
                        </script>

                    <script>
                                                       for(var i=0;i<p;i++) {

                                    var c1 = Number(document.getElementById("id_form-"+i+"-cgst").value);
                                    var s1 = Number(document.getElementById("id_form-"+i+"-sgst").value);
                                    var t1 = Number(document.getElementById("id_form-"+i+"-tax_value").value);
                                    var g1 = Number(document.getElementById("id_form-"+i+"-igst").value);
                                    tot= c1+s1+t1+g1;
                                    document.getElementById("id_form-"+i+"-total").value = tot;

                                    c += c1;
                                    s += s1;
                                    t += t1;
                                    g += g1;
                                }
                    </script>


                    <!--                    <script>-->
                    <!--                            function getbud(){-->
                    <!--                            var r = document.getElementById("id_rml");-->
                    <!--                            var rr= Number(r.options[r.selectedIndex].text);-->
                    <!--                            var p = document.getElementById("id_project");-->
                    <!--                            var pp= Number(p.options[p.selectedIndex].text);-->

                    <!--                            var n = Number(document.getElementById("id_amount").value);-->
                    <!--                            document.getElementById("demo").innerHTML = rr+pp;-->

                    <!--                            }-->
                    <!--                    </script>-->





                    <!--                                    {% for i in items%}-->
                    <!--                                        var ip={{i.project_no|safe}}-->
                    <!--                                        var ir={{i.rml_no|safe}}-->

                    <!--                                        if(ip==r && ir==r){-->
                    <!--                                              var a={{i.available|safe}}-->
                    <!--                                              break-->
                    <!--                                        }-->

                    <!--                                    {%endfor%}-->





                </div>
            </div>
        </div>
        <!-- col-lg-12-->
        </div>
        <!-- /row -->
    </section>

</section>


<!--                                var d=0-->
<!--                                var g2 = Number(document.getElementById("id_form-"+i+"-gst").value);-->
<!--                                d +=g2;-->
<!--                                document.getElementById("id_total_gst").value=d;-->


















<!--    {#    <script>#}-->
<!--    {#        function pifun() {#}-->
<!--    {#            var pi = 10;#}-->
<!--    {#            var data = {'pi': pi,'CSRFToken':getCSRFTokenValue()};#}-->
<!--    {#            $.post(URL, data,function (response){#}-->
<!--    {#                if (response==='sucess'){alert('yesssss');}#}-->
<!--    {#                else{alert('Error!:(');}#}-->
<!--    {#            });#}-->
<!--    {#        }#}-->
<!--    {#        $document.ready(function () {#}-->
<!--    {#            $('#bttnMinus').click(function () {#}-->
<!--    {#                pi *= 0.9;#}-->
<!--    {#                pifun();#}-->
<!--    {#            });#}-->
<!--    {#            $('#bttnPlus').click(function () {#}-->
<!--    {#                pi *= 1.1;#}-->
<!--    {#                pifun();#}-->
<!--    {#            });#}-->
<!--    {#        });#}-->
<!--    {##}-->
<!--    {#    </script>#}-->
<!--    {#    </script>#}-->
<!--    &lt;!&ndash;&lt;!&ndash; /wrapper &ndash;&gt;&ndash;&gt;-->
<!--    &lt;!&ndash;&lt;!&ndash; /MAIN CONTENT &ndash;&gt;&ndash;&gt;-->
<!--    &lt;!&ndash;&lt;!&ndash;main content end&ndash;&gt;&ndash;&gt;-->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script type="text/javascript">
        function updateElementIndex(el, prefix, ndx) {
            var id_regex = new RegExp('(' + prefix + '-\\d+)');
            var replacement = prefix + '-' + ndx;
            if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex, replacement));
            if (el.id) el.id = el.id.replace(id_regex, replacement);
            if (el.name) el.name = el.name.replace(id_regex, replacement);
        }
        function cloneMore(selector, prefix) {
            var newElement = $(selector).clone(true);
            var total = $('#id_' + prefix + '-TOTAL_FORMS').val();
            newElement.find(':input:not([type=button]):not([type=submit]):not([type=reset])').each(function() {
                var name = $(this).attr('name')
                if(name) {
                    name = name.replace('-' + (total-1) + '-', '-' + total + '-');
                    var id = 'id_' + name;
                    $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
                }
            });
            newElement.find('label').each(function() {
                var forValue = $(this).attr('for');
                if (forValue) {
                    forValue = forValue.replace('-' + (total-1) + '-', '-' + total + '-');
                    $(this).attr({'for': forValue});
                }
            });
            total++;
            $('#id_' + prefix + '-TOTAL_FORMS').val(total);
            $(selector).after(newElement);
            var conditionRow = $('.form-row:not(:last)');
            conditionRow.find('.btn.add-form-row')
                .removeClass('btn-success').addClass('btn-danger')
                .removeClass('add-form-row').addClass('remove-form-row')
                .html('-');
            return false;
        }
        function deleteForm(prefix, btn) {
            var total = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
            if (total > 1){
                btn.closest('.form-row').remove();
                var forms = $('.form-row');
                $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
                for (var i=0, formCount=forms.length; i<formCount; i++) {
                    $(forms.get(i)).find(':input').each(function() {
                        updateElementIndex(this, prefix, i);
                    });
                }
            }
            return false;
        }
        $(document).on('click', '.add-form-row', function(e){
            e.preventDefault();
            cloneMore('.form-row:last', 'form');
            return false;
        });
        $(document).on('click', '.remove-form-row', function(e){
            e.preventDefault();
            deleteForm('form', $(this));
            return false;
        });

    </script>

<!--<script>-->
<!--    var g=document.getElementById("id_form-0-gst").value;-->
<!--&lt;!&ndash;    var c=document.getElementById("id_form-0-cgst").value;&ndash;&gt;-->
<!--&lt;!&ndash;    var s=document.getElementById("id_form-0-tax_sgst").value;&ndash;&gt;-->
<!--&lt;!&ndash;    var t=document.getElementById("id_form-0-tax_value").value;&ndash;&gt;-->
<!--&lt;!&ndash;    var x=g+c+s+t&ndash;&gt;-->
<!--function getADD(){-->
<!--    document.getElementById("demo").innerHTML=g;-->
<!--   }-->
<!--</script>-->



<!--    var gst=document.getElementByID('id_form-0-gst').value;-->
<!--    document.getElementById("demo").innerHTML=gst;-->



{% endblock%}
